<!DOCTYPE html>
<html lang="pt-br" ng-app="appBase">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>{% block title %}SanSIS Core Base{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/bootstrap-responsive.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/datepicker.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/menu.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/contraste.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/template.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/ui.jqgrid.css') }}" />
{#     <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/tagmanager.css') }}" />#}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/sansiscorebase/css/jquery.simpleautocomplete.css') }}" />
    
    {% block css %}
    {% endblock %}
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/sansiscorebase/js/html5shiv.js') }}"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery-1.10.2.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/validation/jquery.validate.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/validation/localization/messages_pt_BR.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/bootstrap-tab.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/bootstrap-datepicker.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/contraste.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/store.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/rv-jquery-fontsize-2.0.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/functions.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/i18n/grid.locale-pt-br.js') }}" type="text/javascript"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery.jqGrid.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery.maskedinput.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/ui.datepicker-pt-BR.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/set-environment.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/maskedMoney.3.0.2.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/inputMasks.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery.monthpicker.js') }}"></script>
{#       <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/typeahead.bundle.min.js') }}"></script>#}
{#       <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/tagmanager.js') }}"></script>#}
      <script type="text/javascript" src="{{ asset('bundles/sansiscorebase/js/jquery.simpleautocomplete.js') }}"></script>
    
    {% block javascript_libs %}
    {% endblock %}
    
  </head>
  <body>
  <!-- DIÁLOGOS PADRÃO DO SISTEMA -->
{#     <div id="dialog-msg" title="Mensagem do Sistema" style="display: none;"></div>#}
{#     <div id="dialog-confirm-remove" title="Remover registro?" style="display: none;">#}
{# 	  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Deseja remover esse cadastro?</p>#}
{# 	</div>#}

    <!-- Modal -->
    <div id="aboutDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sobre o sistema</h3>
      </div>
      <div class="modal-body" id="about-dialog-body">
        {% block about %}
            Este é o diálogo de exemplo para informações sobre o sistema.<br />
            Veja o Builder.php do menu do BaseBundle para um exemplo de como implantar.<br />
            Em seu base extendido você deverá definir o conteúdo dentro de um block chamado "about"<br /><br />
            &copy; SanSIS<br />
        {% endblock %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
      </div>
    </div>  
    
    <!-- Modal -->
    <div id="sessionDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Mensagem do sistema</h3>
      </div>
      <div class="modal-body" id="sessionDialogBody">
        
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" id="renewSession">Renovar</button>
      </div>
    </div>
    
    
  <!-- FIM DIÁLOGOS PADRÃO -->
    <div class="header">
      <div id="barra-topo">
        {% block top %}
            &nbsp;
        {% endblock %}
      </div>
      <div id="topo_geral">
        <div class="container">
          <div class="row">
            <div class="span10">
              <div class="logo hidden-phone">{% block sigla_sistema %}BASE{% endblock %}</div>
              <div class="titulo_sistema">
                <span class="img_separador"></span>
                <h1>{% block descricao_sistema %}SanSIS Core Base{% endblock %}</h1>
                <h3>{% block entidade_sistema %}Core Base de Desenvolvimento de Sistemas PHP - SanSIS{% endblock %}</h3>
                <h3>{% block info_sessao %}{% endblock %}</h3>
              </div>
            </div>
            <div class="span2">
              <div class="box_botoes_acessibilidade">
                <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                <a title="Contraste" href="#" id="lbkContraste" onclick="atribuirContraste()" class="contraste">
                  <img src="{{ asset('bundles/sansiscorebase/images/lgo/bt_acess_contraste.png') }}" width="13" height="13"/>
                </a>
              </div>
            </div>
            <div class="usuario">
              <p>{{ render(controller('SanSISCoreBaseBundle:Default:sessionInfo')) }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="BoxMenuPrincipalTamanho">
        <div id="BoxMenuPrincipal" class="BoxMenuPrincipal">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="navbar nav">
                <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar select">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse navbar-responsive-collapse collapse">
                {% block page_menu %}{{ knp_menu_render('SanSISCoreBaseBundle:Builder:menuExemplo', {'nav_type': 'navbar', 'template':'SanSISCoreBaseBundle:menu:sansis_menu.html.twig'}) }}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="section">
      <div class="container">
          <div class="">
            <div class="box">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                          {{ flash | replace({"\n":'<br />'}) | raw | trans({},'messages')}}
                        </div>
                    {% endfor %}
                {% endfor %}
              {% block body %}
              
              <strong class="title">{% block box_title %}Título do Box{% endblock %}</strong>
              <div class="box_borda">
                 <div class="paddingAll">
                    <div class="span11">
                        {% block box_content %}
                        {% endblock %}
	                    <p style="height:5px;">
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                    </p>
	                    {% block box_javascripts %}{% endblock %}
	                    
                    </div>
                  </div>
              </div>
                        
              {% endblock %}
              <div class="span10" style="min-width: 220px"> &nbsp;</div>
           </div>
         </div>
      </div>
    </div>
    {% block footer %}
    <footer>
      <div id="BoxRodapePrincipal">
        <div class="container">
          <div class="row">
            <div class="span6 visible-desktop">
                <div id="BoxRodape_endereco">
                    
                    <p>
                        {% block copyright_footer %}
	                    &copy; SanSIS<br />
{# 	                    SQS 412 - Bloco G - 110<br />#}
{# 	                    Brasília - DF - CEP 70287-130#}
	                    {% endblock %}
                    </p>
                </div>
            </div>
            {% block session_counter %}
            <div class="span6 visible-desktop">
                <div id="BoxRodape_timer">
                    <p>
                        Sua sessão expira em: <span class="keepAlive"></span>
                    </p>
                </div>
            </div>
            <div class="span12 hidden-desktop">
                <div id="BoxRodape_timer_full">
                    <p>
                        Sua sessão expira em: <span class="keepAlive"></span>
                    </p>
                </div>
            </div>
            {% endblock %} 
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
        <script>
            window.jQuery || document.write('<script src="{{ asset('bundles/sansiscorebase/js/jquery.js') }}"><\/script>')
            
            {% block session_counter_js %}
            var sessionTimeFull = -1;
            var sessionTime = -1;

            $('#renewSession').click(function () {
                $.ajax({
                    type:'GET',
                    data: {
                        reset : true
                    },
                    url: '{{ asset('bundles/sansiscorebase/keepAlive.php') }}'
                }).done(function(data) {
                        eval("dados = "+data);
                        sessionTime = dados.time;

                        window.setTimeout(function (){$.ajax({
                            type:'GET',
                            url: '{{ asset('bundles/sansiscorebase/keepAlive.php') }}'
                        }).done(function(data){
                                eval("dados = "+data);
                                sessionTime = dados.time;
                                keepAliveLoop();
                            });
                        },1000);

                        $("#sessionDialogBody").html("Sessão renovada!");
                        renewSession
                        $("#renewSession").hide();
                        window.setTimeout(function(){$("#renewSession").show();$("#sessionDialog").modal('hide');}, 1000);
                    });
            });
            
            function keepAliveLoop() {
                if(sessionTime > -1) {
                    date = (new Date(0,0,0,0,0,sessionTime,0));
            
                    mins = parseInt(date.getMinutes());
                    secs = ("0" + date.getSeconds()).slice(-2);
            
                    dateString = mins+"min "+secs;
                    $(".keepAlive").html(dateString);
                       
                    switch(sessionTime) {
                        case 0:
                        	$("#renewSession").hide();
                            $("#sessionDialogBody").html("Sua sessão expirou! Efetuando logout...");
                            $("#sessionDialog").modal('show');
            
                            window.setTimeout(function(){window.location.href= '{{ path('logout') }}'},2000);
            
                            break;
                        case  1: case  2: case  3: case  4: case  5: case  6: case  7: case  8: case  9: case 10:
                        case 11: case 12: case 13: case 14: case 15: case 16: case 17: case 18: case 19: case 20: 
                        case 21: case 22: case 23: case 24: case 25: case 26: case 27: case 28: case 29:
                        case 30:
                            $("#sessionDialogBody").html("Sua sessão expira em " + sessionTime + " segundos, clique em renovar para evitar a perda do seu trabalho.");
                            $("#sessionDialog").modal('show');
                            break;
                        case 180:
                            $("#sessionDialogBody").html("Sua sessão está prestes a expirar, deseja renová-la agora?");
                            $("#sessionDialog").modal('show');
                            break;
                    }
            
                    window.setTimeout(function (){$.ajax({
                        type:'GET',
                        url: '{{ asset('bundles/sansiscorebase/keepAlive.php') }}'
                    }).success(function(data){
                            if (data) {
                                eval("dados = "+data);
                                sessionTime = dados.time;
                                keepAliveLoop();
                            }
                        }).error(function(data){
                            if (data) {
                                eval("dados = "+data);
                                sessionTime = dados.time;
                                keepAliveLoop();
                            }
                        });
                    },1000)
                }
            }
            
            $(document).ready(function(){
            
                $.ajax({
                    type:'GET',
                    data: {reset:true},
                    url: '{{ asset('bundles/sansiscorebase/keepAlive.php') }}'
                }).done(function(data){
                        eval("dados = "+data);
                        sessionTime = dados.time;
                        sessionTimeFull = sessionTime;
            
                        keepAliveLoop();
                    });
            
                $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
                    sessionTime = sessionTimeFull;
                })
            });
            {% endblock %}

            $(document).ready(function() {

            	var sectionHeight = $(window).innerHeight() - ($('.header').outerHeight() + $('#BoxRodapePrincipal').outerHeight());

                $('.section').css({'min-height':sectionHeight});
                
                $.rvFontsize({
                    targetSection: '#content',
                    store: true, // store.min.js required!
                    controllers: {
                        appendTo: '#rvfs-controllers',
                        showResetButton: true
                    }
                });
            });

        </script>
        {% block javascripts %}{% endblock %}
  </body>
</html>