<div class="filder {{ span }}">
	<ul>
	
	    <li>
	        <h5 class="row {{ maxpspan }} legenda">Arquivos relacionados à movimentação</h5>
	    </li>	    
	    
	    <li>
		    <div class="jqGrid_container {{ maxpspan }} marginBottom">
				<table id="arqgrid" class="grid"></table>
				<div id="arqpager"></div>
			</div>
	    </li>
	    
	    <li>
	        <div class="{{ span }}">
	            <a class="btn btn-primary addFile" style="margin: 0px 0px 20px 0px;" href="#arqModal" role="button" data-toggle="modal">Adicionar arquivo</a>
	        </div>
	    </li>
	    
	</ul>
</div>

<!-- Modal -->
<div id="arqModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Selecione o arquivo</h3>
  </div>
  <div class="modal-body">
    <ul>
	    <li>
            <label class="span1 visible-desktop">Tipo: <font color="red"><b>*</b></font></label>
            <label class="span1 hidden-desktop">Tipo de arquivo: <font color="red"><b>*</b></font></label>
            <select class="span4">
                <option></option>
                <option>Foto principal</option>
                <option>Foto</option>
                <option>Vídeo</option>
                <option>Áudio</option>
                <option>Arquivo</option>
            </select>
        </li>
	    <li>
            <label class="span1">Nome:</label>
            <input type="text" class="span4">
        </li>
	    <li>
            <label class="span1">Descrição:</label>
            <textarea class="span4"></textarea>
        </li>
	    <li class=span11>
            <label class="span1">Arquivo:</label>
            <input type="file" class="span4">
        </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <button class="btn btn-primary">Salvar</button>
  </div>
</div>

<script>
	
	    $(document).ready(function() {
	
	        $("#arqgrid").jqGrid({
	
{#//	            url:'{{ path('sansis_core_sandbox_search') }}',#}
// 	            datatype: "json",
                datatype: "local",
	            colNames:[
	                        'Nome',
	                        'Visualização' ,
	                        'Descrição' ,
	                        'Tipo de arquivo' ,
	                        'Ação'
	            ],
	            colModel:[
	      	                {name:'nome',index:'nome', width:50},
	      	                {name:'',index:'', width:150},
	                        {name:'descricao',index:'descricao', width:150},
	                        {name:'tipo',index:'tipo', width:50},
	                        {name:'acao',index:'acao', width:20, align:"center"} 
	            ],
	             scrollOffset: 0,
	             forceFit:true,
	             hidegrid: false,
	             height: '254',
	             autowidth: true,
	             shrinkToFit: true,
	             pager: '#arqpager',
	             viewrecords: true,
	             sortname: 'nome',
	             sortorder: "asc",
	             rowNum: 11
	         });
	
	    });
	
	    function confirmarRemocao(id) {
	        $( "#dialog-confirm-remove" ).dialog({
	          resizable: false,
	          height:140,
	          modal: true,
	          buttons: {
	            "Sim": function() {
	                $.ajax({
	                    type: "POST",
{#	                    url: "{{ path('sansis_core_sandbox_delete') }}",#}
	                    data: { id: id},
	                    dataType: 'json'
	                })
	                .success(function() {
	                    $("#searchBt").trigger('click');
	                    $( "#dialog-msg" ).dialog({
	                            resizable: false,
	                            height:140,
	                            modal: true,
	                            buttons: {
	                                  "Fechar": function() {
	                                  $( this ).dialog( "close" );
	                                }
	                              }}).html('Item removido com sucesso');
	                    $( this ).dialog( "close" );
	                })
	                .error(function() {
	                    $( "#dialog-msg" ).dialog({
	                            resizable: false,
	                            height:150,
	                            modal: true,
	                            buttons: {
	                                  "Fechar": function() {
	                                  $( this ).dialog( "close" );
	                                }
	                              }}).html('Ocorreram erros ao tentar remover o registro selecionado. Entre em contato com o administrador do sistema.');
	                    $( this ).dialog( "close" );
	                });
	                $( this ).dialog( "close" );
	            },
	            "Não": function() {
	              $( this ).dialog( "close" );
	            }
	          }
	        });
	      }
	
	</script>
